@import "variables";

@mixin border-default() {
  border: 1px solid $primary-color;
  border-radius: 25px;
}
@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-default() {
  @include flex-center();
  @include border-default();
  transition: $transition-default;
  background-color: $secondary-color;
  cursor: pointer;
  outline: none;
  &:hover{
    background-color: $primary-color;
  }
}
