$header-height: 45px;
$primary-color: #c3073f;
$secondary-color: #1a1a1d;
$dialog-token-width: 300px;
$transition-default: all 0.4s linear;
$background: radial-gradient(circle, $primary-color 0%,$secondary-color 55%) no-repeat fixed
