@import "variables";
@import "mixins";

.dialogs {
  display: flex;

  &__items {
    @include flex-column();
    width: $dialog-token-width;
    font-weight: bold;
  }

  &__item {
    @include border-default();
    transition: $transition-default;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }

    &.active {
      background-color: $primary-color;
    }
  }

  &__name {
    margin: 0 auto;
  }

  &__img {
    @include flex-center();
    border: 1px solid $primary-color;
    background-color: #000;
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }

  &__window {
    @include flex-column();
    @include border-default();
    border-collapse: separate;
    background-color: $secondary-color;
    align-items: flex-start;
    text-align: center;
    height: 600px;
    overflow: auto;
  }

  &__general {
    width: 100%;
  }

  &__message {
    @include border-default();
    justify-self: center;
    &.in {
      background-color: $primary-color;
      margin: 2px 5px 5px 10px;
      border-bottom-left-radius: 1px;
    }
    padding: 5px;
    &.out {
      background-color: $secondary-color;
      margin: 5px 10px 5px 10px;
      border-bottom-right-radius: 1px;
      align-self: flex-end;
    }
  }
}

