@import "variables";

.header{
  background: #1a1a1d;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  & > * {
    margin-left: 3px;

  }

}
