@import "variables";
@import "mixins";

.header{
  @include border-default();
  padding: 10px;
  background: #1a1a1d;
  height: $header-height + 5px;
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  font-weight: bold;
  align-items: center;
  & > * {
    margin-left: 3px;

  }

}
