@import "variables";
@import "mixins";

.input-field {
  @include border-default();
  &.msg{
    height: $header-height;
  }
  display: flex;
  margin-top: 5px;
  & textarea, button {
    font-size: 16px;
  }
  & textarea {
    background-color: $secondary-color;
    padding-left: 15px;
    border: 0;
    resize: none;
    border-radius: 25px;
    width: 100%;
    outline: none;
    &[placeholder = "Your post is empty!"]{
      &::placeholder{
        color: $primary-color;
      }
    }
    &:focus::placeholder{
      color: transparent;
    }
  }
  & button {
    @include button-default();
    width: 120px;
    &.msg {
      border: 0;
      width: 70px;
    }
  }

}
