@import "variables";
@import "mixins";

.login {
  margin: 220px auto;
  border-radius: 25px;
  width: 35%;
  height: 300px;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;

  &__form {
    width: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    & > * {
      margin-top: 10px;
    }
    &__loginName, &__password {
      @include border-default;
      width: 400px;
      background-color: $secondary-color;
      padding: 5px;
      outline: none;
      &[placeholder = "Login Required"], &[placeholder = "Password Required"]{
        &::placeholder{
          color: $primary-color;
        }
      }
      &__errorIcon {
        fill: $primary-color !important;
        transition: $transition-default;
        margin-left: 10px;
        font-size: large;
      }
    }
    &__field {
      display: flex;
      align-items: center;
    }
    &__button {
      @include button-default;
      height: 30px;
    }

    &__checkbox {
      display: flex;
      align-items: center;
      margin-right: 10px;
      & > * {
        margin-right: 5px;
      }
    }
  }
}



