@import "variables";
.navbar {
  display: flex;
  & div{
    font-size: 14px;
    margin-right: 12px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border: 1.5px solid $primary-color;
    border-radius: 25px;
    transition: background-color 0.4s linear;

    &:hover{
      background-color: $primary-color;
    }
  }
}
