@import "variables";
@import "mixins";

.navbar {
  display: flex;

  & a {
    @include border-default();
    transition: $transition-default;
    font-size: 14px;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    padding: 5px;

    &.activeLink {
      background-color: $primary-color;
    }

    &:hover {
      background-color: $primary-color;
    }
  }

  &__username {
    font-weight: bold;
  }
}
