@import "variables";
@import "mixins";

.profile{
  @include flex-column();
  @include border-default();
  background-color: $secondary-color;
  border-width: 0 1px 1px 1px;
  height: 600px;
  padding: 5px;
  &__info {

  }
  &__img {
    @include flex-center();
    background-color: $primary-color;
    margin-left: 20px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }
  &__status{
    background-color: $primary-color;
    font-weight: bold;
  }
  &__personal{
    @include flex-column();
    & > *{
      @include border-default();
      width: 150px;
      text-align: center;
      margin-top: 10px;
    }
  }
  &__posts{
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  &__posts__title{
    font-weight: 900;
    text-align: center;
    font-size: 24px;
  }
  &__post{
    transition: $transition-default;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 25px;
    &__img{
      @include flex-center();
      background-color: $primary-color;
      border-radius: 25px;
      width: 30px;
      height: 30px;
    }
    &__content{
      margin-left: 5px;
    }
    &:hover{
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}




