@import "variables";
@import "mixins";

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid $primary-color;
  border-radius: 25px 700px 700px 25px;
}

::-webkit-scrollbar-thumb:hover {
  margin: 50px;
  background: $primary-color;
}
