@import "mixins";
@import "variables";



.users {
  display: flex;
  flex-direction: column;

  &.blured {
    filter: blur(10px);
  }
  &__item{
    @include border-default();
    transition: $transition-default;
    background-color: $secondary-color;
    height: $header-height;
    display: flex;
    align-items: center;
    &:hover {
      background-color: $primary-color;
    }
    &__personal {
      display: flex;
      align-items: center;
      margin-left: auto;
      & div {
        margin-right: 5px;
      }
      & .users__item__country {
        font-weight: 900;
      }
    }
    &__name, &__status {
      margin-left: 5px;
    }
    &__name {
      cursor: pointer;
      font-weight: 900;
    }
    &__img {
      @include flex-center();
      width: $header-height;
      height: $header-height;
      border: 1px solid $primary-color;
      border-radius: 50px;
    }
    &__status {
      @include border-default();
      background-color: $primary-color;
    }
    & button {
      @include button-default();
      transition: all 1s;
      width: $header-height;
      height: $header-height;
    }
    &__name {
      font-weight: 900;
    }

  }
  &__load__button {
    @include button-default();
    width: 200px;
    margin: 10px auto;
    padding: 15px;
  }
  &__pageList{
    background-color: $secondary-color;
    @include border-default;
    display: flex;
    justify-content: space-around;
    &__item {
      @include flex-center;
      transition: $transition-default;
      width: 30px;
      height: 30px;
      border-radius: 50px;
      &:hover{
        cursor: pointer;
        background-color: $primary-color;
      }
      &.selected {
        background-color: $primary-color;
      }
    }
  }

}


